<% include ./common/center-head.html%>

<div class="section" style="margin-top: 10px;">
	<table class="layui-table">
  <colgroup>
    <col width="100">
	<col width="100">
    <col width="200">
	<col width="200">
	<col width="100">
	<col width="200">
  </colgroup>
  <thead>
    <tr>
      <th>姓名</th>
      <th>性别</th>
      <th>位置</th>
	  <th>详细地址</th>
	  <th>手机号</th>
	   <th>操作</th>
    </tr> 
  </thead>
  <tbody>
    <tr>
      <td>小明</td>
      <td>先生</td>
      <td>武侯区科华北路</td>
	  <td>56号楼6楼前台</td>
	  <td>18888888888</td>
	  <td><a href="#">修改</a> | <a href="#">删除</a></td>
    </tr>
    
  </tbody>
</table>
</div>
<% include ./common/center-foot.html%>
