<% include ./common/head.html%>
<!-- 首页,登录,注册  导航栏 -->
		<div class="nav">
			<a href="/" class="login"><img src="/img/indexlogo.png" ></a>
			<!-- 注册的跳转路由在这里设置 -->
			<p class="p-regist">没有账号,现在就去<a href="/goregist" class="regist">注册</a></p> 
		</div>
		<!-- 首页,登录,注册  页面中间logo -->
		<div class="info">
			<img src="/img/indexbig.png" >
		</div>
		<!-- 编辑区域 -->
		<div class="btngroup">
			<!-- 两个登陆的路由在这里设置 -->
			<a href="/merchantLogin">商家登录</a>
			<a href="/userLogin">用户登录</a>
		</div>	
<% include ./common/foot.html%>