<% include ./common/demo-head.html%>
<li><a href="">首页</a></li>
				</ul>
				<div class="head-login btn-group">
					<ul class="layui-nav">
						<li class="layui-nav-item">
<a href="/acont"><img class="layui-nav-img" src="/img/logo.png">admin</a>
							<dl class="layui-nav-child">
								<!-- 二级菜单 -->
								<dd><a href="/merchantLogin">退出登录</a></dd>
							</dl>
						</li>
					</ul>
				</div>
				<div class="head-info">
					<div class="info-img">
						<img src="/img/logo.png"
						 alt="">
					</div>
					<p class="sname">开心食刻（校内食堂外卖服务）</p>
					<p class="score">评分 :<a href="" style="color: yellow;font-size: 18px;">⭐⭐⭐⭐⭐</a></p>
				</div>
				<div class="introduce">
					<div>
						<span>起送价</span>
						<p>15元</p>
					</div>
					<div>
						<span>配送费</span>
						<p>配送费¥2</p>
					</div>
					<div>
						<span>平均送达速度</span>
						<p>15分钟</p>
					</div>
				</div>
			</div>
		</div>
<ul class="middle-nav">
	<li><a href="/acont">商家管理商品</a></li>
</ul>
<hr>
<div class="show">
	<div class="goods">
		<form class="layui-form" style="top: 0;">
			<!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
			<div class="layui-form-item">
				<label class="layui-form-label" style="width: 100px;">菜品名称</label>
				<div class="layui-input-inline">
					<input type="text" name="pname" placeholder="请输入名称" autocomplete="off" class="layui-input">
				</div>
				<div class="layui-form-mid layui-word-aux H"></div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label" style="width: 100px;">菜品价格</label>
				<div class="layui-input-inline">
					<input type="text" name="price" placeholder="请输入价格" autocomplete="off" class="layui-input">
				</div>
				<div class="layui-form-mid layui-word-aux H"></div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label" style="width: 100px;">图片地址</label>
				<div class="layui-input-inline">
					<input type="text" name="imgsrc" placeholder="请输入图片地址" autocomplete="off" class="layui-input">
				</div>
				<div class="layui-form-mid layui-word-aux H"></div>
			</div>

			<div class="layui-form-item layui-form-text">
				<label class="layui-form-label" style="width: 100px;">请填写描述</label>
				<div class="layui-input-block">
					<textarea name="pdescribe" placeholder="请输入描述" class="layui-textarea" style="width: 70%;"></textarea>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn addpro" type="button">立即添加</button>
					<a href='/acont' class="layui-btn">返回<a>

				</div>
			</div>
			<!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
		</form>





	</div>
	<!-- 公告组件 -->
	<div class="notice">
		<div class="notice-text">
			<h3>商家公告</h3>
			<p>多款新品上线，请大家品尝后多多建议，祝愿大家身体安康，工作顺利。</p>
		</div>
		<p>配送说明：</p>
		<p>配送费¥2</p>
		<div class="notice-wor">
			<p>商家原因导致订单取消，赔付代金券</p>
			<p>该商户食品安全已由国泰产险承担，食品安全有保障</p>
			<p>该商家支持开发票，请在下单时填写好发票抬头</p>
		</div>
	</div>
</diV>



<% include ./common/demo-foot.html%>
